.no-padder { padding: 0px !important; }
.padder-5 { padding: 5px !important; }
.padder { padding: 10px !important; }
.padder-30 { padding: 30px !important; }
.p-b-0 { padding-bottom: 0px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-r-10 { padding-right: 10px !important; }

.no-margin { margin: 0px !important; }
.m-lr-2 { margin-left: 2px !important; margin-right: 2px !important; }
.m-l-5 { margin-left: 5px !important; }
.m-r-5 { margin-right: 5px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-r-25 { margin-right: 25px !important; }
.m-l-25 { margin-left: 25px !important; }
.m-t-25 { margin-top: 25px !important; }
.m-b-25 { margin-bottom: 25px !important; }
.m-r-30 { margin-right: 30px !important; }
.m-l-30 { margin-left: 30px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-10 { margin: 10px !important; }
.m-2 { margin: 2px !important; }

.border-0 { border: 0px !important; }
.pointer { cursor: pointer; }
.d-none { display: none; }

.h-80 { height: 80% !important; }
.w-30 { width: 30% !important; }
.w-50 { width: 50% !important; }
.w-45 { width: 45% !important; }

.h-rig { height: 45px !important; }

.font-large { font-size: 20px; }
.font-medium { font-size: 15px; }
.font-small { font-size: 10px; }

.font-black { color: #000; }
.font-white { color: #fff; }
.font-bold { font-weight: 700; }
.font-transparent { opacity: 0.5; }

.color-black { color: #000000 !important; }
.color-grey { color: #bdbdbd !important; }
.color-main { color: #6db03f !important; }
.bg-color-main { background-color: #6db03f !important; }
.bg-color-grey { background-color: #bdbdbd; }
.bg-color-white { background-color: white; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.trans-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trans-vert-center {
  top: 50%;
  transform: translateY(-50%);
}
.trans-hor-center {
  left: 50%;
  transform: translateX(-50%);
}
.fill-parent { width: 100%; height: 100%; }

.center-margin {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.detail-info { @extend .color-grey; font-size: 9px; }
.login-field {
  width: 20%;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  border-color: grey;
  margin: auto;
}
.center-checkbox {
  vertical-align: baseline;
}

.dropdown-title, .dropdown-title:hover {
  padding: 14px 16px;
  cursor: default;
  background-color: white !important;
}

/* Classes needed for materialize dropdown styling */
.select-dropdown { font-weight: 700; }
.select-wrapper { background-color: white; }

/* Custom column width to fit all 120 miners */
.col-custom { width: 5%; }

/* Custom placement of flask-security login (submit) button */
#submit { float: right; }

/* Custom vertical alignment to fix placement of select bar in dropdown menu */
.select-wrapper { margin-top: 10px; }

.input-number { width: 80px !important; }
input[type="number"] {
  margin-left: 5px !important;
}

.select-small{
  width: 250px !important;
  display: flex;
  align-items: center;
}

.disabled-miner { background-color: #bdbdbd !important; }

/* needed to fix the remember me button */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  opacity: 1;
	pointer-events: auto;
  margin-left: 5px;
}

/* needed to fix the checkboxes in the register modal */
[type="checkbox"] + span:not(.lever)::before, [type="checkbox"]:not(.filled-in) + span:not(.lever)::after {
  content: none;
}

.image-below { position: relative; }
.image-above { position: absolute; }
.fan-logo { width: 25px; height: 25px; }

.nav-buttons a{
  margin-left: 20px;
}

.switch label .lever {
  margin: 0 5px !important;
}

.rotate {
-webkit-animation: spin1 3s infinite linear;
-moz-animation: spin1 3s infinite linear;
-o-animation: spin1 3s infinite linear;
-ms-animation: spin1 3s infinite linear;
animation: spin1 3s infinite linear;
}

@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}

/* materializecss/Google material design icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
