WARNING: This file is only used during the initial setup process. If you want
to change the credentials of the admin account after this initial step, you will
need to do it over the webinterface or by deleting the database manually and
restarting the web app. For security reasons it is recommended to DELETE this
file after the initial setup or at least remove the sensitive information.

username=admin@mail.com
password=password
backend_address=http://localhost:12345
db_address=sqlite:///config/database.sqlite3
db_secret_key=n0b0dy-c0u1d-gue55-th15
