<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{{ url_for('static',filename='css/util.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
  {% block css %}
  {% endblock %}
  <title> minerctl </title>
</head>

<body>
  <nav>
    <div class="nav-wrapper bg-color-main">
      <a href="/" class="left hide-on-small-and-down brand-logo m-l-10">
        <div class="left m-t-20 m-r-10">
          <img class="fan-logo rotate image-above" src="static/images/fans.png"/>
          <img class="fan-logo image-below" src="static/images/casing.png"/>
        </div>
         bitTex minerctl {% block title_addition %} {% endblock %}
      </a>

      {% block navbuttons %}
      <ul class="right">
        {% if is_admin %}
          <li><a title="user management" href="/user"><i class="material-icons right">account_circle</i>{{current_user}}</a></li>
          <li><a title="settings" href="/settings"><i class="material-icons">build</i></a></li>
          <li><a title="logout" href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        {% else %}
          <li><a class="tooltipped" data-position="bottom" data-tooltip="insufficient permissions"><i class="material-icons right font-transparent" >account_circle</i>{{current_user}}</a></li>
          <li><a class="tooltipped" data-position="bottom" data-tooltip="insufficient permissions"><i class="material-icons font-transparent">build</i></a></li>
          <li><a title="logout" href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        {% endif %}
      </ul>
      {% endblock %}
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="static/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.tooltipped').tooltip();
    });
  </script>

  {% block scripts %}
  {% endblock %}
</body>
</html>
