<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{{ url_for('static',filename='css/util.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% block css %}
  {% endblock %}
  <title> minerctl </title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo m-l-10">bitTex minerctl</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/user"><i class="material-icons right">account_circle</i>{{user}}</a></li>
          <li><a href="/settings"><i class="material-icons">build</i></a></li>
          <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="static/js/materialize.min.js"></script>

  {% block scripts %}
  {% endblock %}
</body>
</html>
