{% extends "base.html" %}
{% block title_addition %} - firmware v{{ config.firmware_version }} {% endblock %}

{% block head %}
{{ JSGlue.include() }}
{% endblock %}

{% block content %}

{% if is_admin %}
<div class="right">
  <div class="left">
    <a class="waves-effect waves-light btn-small bg-color-main m-r-10 m-t-10" onclick="toggleEditMode()" id="edit-layout">edit layout</a>
  </div>
  <div class="right">
    <a class="waves-effect waves-light btn-small bg-color-main m-r-10 m-t-10" onclick="saveLayout()" id="save-layout">save layout</a>
  </div>
</div>
{% endif %}

<div class="row m-t-10">
  <div class="col 1">
    <div class="card">
      <div class="card-content">
        <span class="card-title"> temperature </span>
        <p> target: <span class="right">{{temp.target}} °C</span></p>
        <p> external reference: &nbsp; <span class="right">{{temp.external}} °C</span></p>
        <p> main sensor ID: <span class="right">#{{temp.sensor_id}}</span> </p>
        {% for key, value in temp.measurements.items() %}
        <p> sensor #{{key}}: <span class="right">{{value}} °C</span></p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col 1">
    <div class="card">
      <div class="card-content">
        <span class="card-title"> filter
            {% if filter.status_ok %}
              <i class="material-icons right" title="filter does not need to be cleaned">check</i>
            {% else %}
              <i class="material-icons right" title="CLEAN FILTER!">warning</i>
            {% endif %}
          </span>
        <p> pressure difference: <span class="right"> &nbsp; {{filter.pressure_diff}} mBar </span></p>
        <p> pressure threshold: <span class="right"> {{filter.threshold}} mBar </span></p>
      </div>
    </div>
  </div>
  <div class="col 1">
    <div class="card">
      <div class="card-content">
        <span class="card-title"> fans </span>
        <p> min RPM:
          <span class="right">{{fans.min_rpm}}%&nbsp;
            </span>
        </p>
        <p> max RPM:
          <span class="right">{{fans.max_rpm}}%&nbsp;
            </span>
        </p>
        <p> current RPM:
          <span class="right">&nbsp;{{fans.rpm}}%&nbsp;
            </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col 1">
    <div class="card">
      <div class="card-content">
        <span class="card-title"> operation </span>
        <p> mode: <span class="right">{{operation.active_mode}}</span></p>
      </div>
    </div>
  </div>
</div>

<div class="row flex">
  {% set cnt = [1] %}
  {% for row in range((config.number_of_miners / 10)|round(method='ceil')|int) %}
  <div class="col 6 w-150px padder-5">

    <div class="bg-color-grey m-lr-2 padder rack" id="rack{{row}}">
      <p class="font-bold font-white font-large center-align no-margin rack-title"> rack {{ row + 1}} </p>

      {% for miner in range(10) %}
      <div class="h-rig m-b-5" id="rig_{{cnt[0] - 1}}">
        {% if miners.miners[cnt[0] - 1] == True or operation.active_mode == 'gpu' and miners.miners[cnt[0] - 1] != None %}
        <div class="bg-color-white z-depth-2 h-rig valign-wrapper padder-5 flex-sb" id="miner{{ cnt[0] }}">

        {% elif miners.miners[cnt[0] - 1] == False %}
        <div class="bg-color-white disabled-miner z-depth-2 h-rig valign-wrapper padder-5 flex-sb" id="miner{{ cnt[0] }}">

        {% else %}
        <div class="bg-color-white z-depth-2 h-rig valign-wrapper padder-5 flex-sb d-none placeholder-rig" id="placeholder{{ cnt[0] }}">
          <p class="color-grey fill-parent flex-text-center">
            placeholder
            <a class="right delete-rig pos-abs delete-btn d-none pointer" onclick="sendMinerAction({{cnt[0]}},'register')"><i title="add" class="material-icons color-main">add_circle</i></a>
          </p>

        </div>
        <div class="d-none z-depth-2 h-rig valign-wrapper padder-5 flex-sb" id="miner{{ cnt[0] }}" hidden>
        {% endif %}

          <p class="">
            #{{ cnt[0] }}
          </p>
          {% if operation.active_mode == 'fpga' %}
          <div class="switch">
            <label>
                  {% if miners.miners[cnt[0] - 1] %}
                    <input type="checkbox" class="miner-toggle" checked onclick="toggleMinerCSS('miner{{ cnt[0] }}');sendMinerAction({{cnt[0]}},'toggle')" id="miner{{ cnt[0] }}-checkbox" autocomplete="off">
                  {% else %}
                    <input type="checkbox" class="miner-toggle" id="miner{{ cnt[0] }}-checkbox" onclick="toggleMinerCSS('miner{{ cnt[0] }}');sendMinerAction({{cnt[0]}},'toggle')" id="miner{{ cnt[0] }}-checkbox" autocomplete="off">
                  {% endif %}
                  <span class="lever"></span>
                </label>
          </div>
          {% elif operation.active_mode == 'gpu' %}
          <div>
            <a class="waves-effect waves-light btn btn-tiny bg-color-main miner-btn" onclick="sendMinerAction({{cnt[0]}},'on')">ON</a>
            <a class="waves-effect waves-light btn btn-tiny bg-color-red miner-btn" onclick="sendMinerAction({{cnt[0]}},'off')">OFF</a>
          </div>
          {% endif %}
          {% if operation.active_mode == 'fpga' %}
          <a class="right"><i title="reset" class="material-icons color-black font-transparent pointer waves-effect" onclick="sendMinerAction({{cnt[0]}},'reset')">settings_backup_restore</i></a>
          {% endif %}
          <a class="right delete-rig pos-abs delete-btn d-none pointer" onclick="sendMinerAction({{cnt[0]}},'deregister')"><i title="delete" class="material-icons color-red">remove_circle</i></a>

        </div>
        </div>
        {% if cnt.append(cnt.pop() + 1) %}{% endif %}
        {% endfor %}

        </div>
      </div>
      {% endfor %}
    </div>

    <div id="cancel" class="modal">
      <div class="modal-content">
        <h4> Miner # </h4>
        <a href="#!" class="modal-close btn-flat">ON</a>
        <a href="#!" class="modal-close btn-flat">OFF</a>
        <a href="#!" class="modal-close btn-flat">RESET</a>
      </div>
    </div>

    {% endblock %}
    {% block scripts %}
    <script type="text/javascript">
      function toggleMinerCSS(selector) {
        $('#' + selector).toggleClass('disabled-miner', $('#' + selector + '-checkbox').val());
      }
      function removeMinerCSS(selector) {
        $('#' + selector).removeClass('disabled-miner', $('#' + selector + '-checkbox').val());
      }
      function sendMinerAction(id, action) {
        $.ajax({
          // -1 because the values start at 1 in the html elements
          url: Flask.url_for("action") + '?' + $.param({ action: action, id: id - 1 }),
          type: 'PATCH',
          dataType: 'json'
        });
        if (action == 'register' || action == 'deregister') {
          $("#miner" + id).toggleClass('d-none')
          $("#placeholder" + id).toggleClass('d-none')
        }
      }
      function toggleEditMode() {
        if ($('#edit-layout').text() === 'edit layout') {
          $(".rack").sortable("enable")
          $('#edit-layout').text("stop editing")
        } else {
          $(".rack").sortable("disable")
          $('#edit-layout').text('edit layout')
        }
        $('#save-layout').toggleClass('disabled')
        $('.miner-btn').toggleClass('disabled')
        $(".placeholder-rig").toggleClass('d-none')
        $(".delete-rig").toggleClass('d-none')
        // inverts disabled prop
        $('.miner-toggle').prop('disabled', function(i, v) { return !v; });
        // If you uncomment the following line the rigs will wiggle if you enter
        // the edit mode, similiar to the IOS feature when you long-press an
        // app. It is disabled, however, because it needs a ton of resources.
        //$(".h-rig").toggleClass("wiggle")
      }
      function saveLayout() {
        layout = {}
        $(".rack").each(function() {
          layout[this.id] = $(this).sortable('toArray')
        })
        $.ajax({
          url: Flask.url_for("config"),
          type: 'PUT',
          dataType: 'json',
          data: JSON.stringify(layout)
        });
        // TODO fix this. somehow the flask app receives the entire json as a
        //single json attribute
        console.log(JSON.stringify(layout))
      }
      $(function() {
        $(".rack").sortable({
          connectWith: ".rack",
          items: "> .h-rig, > p:not(.rack-title)"
          //receive: This event is triggered when a
          //connected sortable list has received an item from another list.
          /*
          receive: function(event, ui) {
              // so if > 10
              if ($(this).children().length > 10) {
                  //ui.sender: will cancel the change.
                  //Useful in the 'receive' callback.
                  $(ui.sender).sortable('cancel');
              }
          }
          */ //TODO enable this
        });
        $(".rack").disableSelection();
        $(".rack").sortable("disable");
      });
    </script>
    {% endblock %}
