{% extends "base.html" %}

{% block content %}

  <div class="row m-t-10">
    {% for key, value in data.items() %}
      <div class="col 1">
        <div class="card">
          <div class="card-content">
            <span class="card-title"> {{key}} </span>
            <p> {{value}} </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    {% for miner in range(config[0].number_of_miners) %}
      <div class="col col-custom">
        <div class="card" id="miner{{miner}}">
          <a class='dropdown-trigger color-grey' href='#' data-target='minerConfig{{miner}}'>
            <i class="material-icons float-right m-2">settings</i>
          </a>

          <ul id='minerConfig{{miner}}' class='dropdown-content'>
            <li class="dropdown-title font-bold">Miner #{{ miner }}</li>
            <li><a href="#!">ON</a></li>
            <li><a href="#!" onclick="disable('#miner{{miner}}')">OFF</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!">RESET</a></li>
          </ul>

          <div class="card-content">
            <p>#{{ miner }} </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="cancel" class="modal">
    <div class="modal-content">
      <h4> Miner # </h4>
      <a href="#!" class="modal-close btn-flat">ON</a>
      <a href="#!" class="modal-close btn-flat">OFF</a>
      <a href="#!" class="modal-close btn-flat">RESET</a>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $('.dropdown-trigger').dropdown();
    function disable(id) {
      $(id).addClass('disabled-miner')
    }
  </script>
{% endblock %}
