  {% extends "base.html" %}

  {% block css %}
    <link href="{{ url_for('static',filename='css/nouislider.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% endblock %}

  {% block content %}
  <form action="/config" method="POST" id="configuration">

    <div class="container">

      <h3> Settings </h3>
      <div class="divider"></div>
      <div class="section">

        <h6>General</h6>
        <div class="w-50 m-10 padder-30">
          <label for="input-miner">number of miners: </label><input class="input-number" id="input-miner" name="number_of_miners" type="number" min="1" max="120" value="{{config[0].number_of_miners}}"/>
          <div class="select-small">
            <div>
              <label for="input-mode">mode of operation: </label>
            </div>
            <div class="m-l-5">
              <select id="input-mode" class="browser-default" name="mode">
                <option value="0">GPU</option>
                <option value="1">ASIC/FPGA</option>
                <option value="2">other</option>
              </select>
            </div>
          </div>

        </div>

        {% if data.mode == "0" %}
        <h6>GPU mode</h6>
        <div class="w-50 m-10 padder-30">
          <div class="m-t-10">
            <label for="input-ontime">time to turn on miner in ms: </label><input class="input-number" id="input-ontime" type="number" min="0" max="100000" step="1" value="{{data.ontime}}" name="ontime"/>
            <label class="m-l-10" for="input-offtime">time to turn on miner in ms: </label><input class="input-number" id="input-offtime" type="number" min="0" max="100000" step="1" value="{{data.offtime}}" name="offtime"/>
          </div>
        </div>

        {% elif data.mode == "1" %}
        <h6>ASIC/FPGA mode</h6>
        <div class="w-50 m-10 padder-30">
          <div class="m-t-10">
            <label for="input-restime">reset time in ms: </label><input class="input-number" id="input-restime" type="number" min="0" max="100000" step="1" value="{{data.restime}}" name="restime"/>
          </div>
        </div>

        {% elif data.mode == "2" %}
        <h6>Other mode</h6>

        {% endif %}

        <h6>Ventilation</h6>
        <div class="w-50 m-10 padder-30">
          <div id="rpm-slider"></div>
          <div class="m-t-10">
            <label for="input-min">min. RPM: </label><input class="input-number" id="input-min" type="number" min="0" max="9999" step="1" name="min_rpm"/>
            <label class="m-l-10" for="input-max">max. RPM: </label><input class="input-number" id="input-max" type="number" min="0" max="9999" step="1" name="max_rpm"/>
          </div>
          <label for="input-temp">target temperature: </label><input class="input-number" id="input-temp" type="number" min="0" max="100" step="1" value="{{data.target_temp}}" name="target_temp"/>
        </div>

        <h6> PID </h6>
        <div class="w-50 m-10 padder-30">
          <label for="input-pidp">proportional: </label><input class="input-number" id="input-pidp" type="number" value="{{data.pidp}}" name="pidp"/>
          <label class="m-l-10" for="input-pidi">integral: </label><input class="input-number" id="input-pidi" type="number" value="{{data.pidi}}" name="pidi"/>
          <label class="m-l-10" for="input-pidd">deriative: </label><input class="input-number" id="input-pidd" type="number" value="{{data.pidd}}" name="pidd"/>
          <label class="m-l-10" for="input-pidb">bias: </label><input class="input-number" id="input-pidb" type="number" value="{{data.pidb}}" name="pidb"/>
          <br/>
          <label for="input-sensor">main sensor id: </label><input class="input-number" id="input-sensor" type="number" value="{{data.sensor_id}}" min="0" name="sensor_id"/>
        </div>

        <h6> Various </h6>
        <div class="w-50 m-10 padder-30">
          <label for="input-filter">filter threshold: </label><input class="input-number" id="input-filter" type="number" value="{{data.filter_threshold}}" name="filter_threshold"/>
          <label class="m-l-10" for="input-exttemp">external temperature: </label><input class="input-number" id="input-exttemp" type="number" value="{{data.exttemp}}" name="exttemp"/>

        </div>

        <button class="m-10 btn waves-effect waves-light float-right bg-color-main" onclick="save()">Post changes
          <i class="material-icons right">save</i>
        </button>

        <button class="m-10 btn waves-effect waves-light float-right bg-color-main modal-trigger" type="submit" name="action" data-target="modal-upload">Upload config
          <i class="material-icons right">cloud_upload</i>
        </button>

        <a href="/getconfig" class="m-10 btn waves-effect waves-light float-right bg-color-main" type="submit" name="action">Download config
          <i class="material-icons right">cloud_download</i>
        </a>
      </div>
    </div>
</form>
<div id="modal-upload" class="modal w-30">
  <div class="modal-content p-b-10">
    <h4>Upload config file</h4>
    <p>Only upload files generated by the <span class="font-bold">DOWNLOAD CONFIG</span> function! Uploading self-written files may lead to unpredictable changes.</p>
    <div class="m-t-30">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button class="btn waves-effect waves-light bg-color-main right" type="submit" name="action">Submit
          <i class="material-icons right">cloud_upload</i>
        </button>
      </form>
    </div>
  </div>
</div>
  {% endblock %}

  {% block scripts %}
    <script type="text/javascript" src="static/js/nouislider.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('select').formSelect();
      });
      $(document).ready(function(){
        $('.modal').modal();
      });
      function save() {
        $.ajax({
          url: '/config',
          dataType : 'json',
          data: $('#configuration').serialize(),
          type: 'POST'
        });
      }

      // Setup basic slider
      var slider = document.getElementById('rpm-slider');
      noUiSlider.create(slider, {
       start: [{{data.min_rpm}}, {{data.max_rpm}}],
       step: 1,
       connect: true,
       animate: true,
       range: {
         'min': 0,
         'max': 9999 // TODO change to realistic setting
       }
      });

      // Connect the <input> fields to the slider
      var inputMin = document.getElementById('input-min');
      var inputMax = document.getElementById('input-max');

      slider.noUiSlider.on('update', function( values, handle ) {
      	var value = values[handle];
      	if (handle) {
      		inputMax.value = value;
      	} else {
      		inputMin.value = Math.round(value);
      	}
      });
      inputMin.addEventListener('change', function(){
      	slider.noUiSlider.set([this.value, null]);
      });
      inputMax.addEventListener('change', function(){
      	slider.noUiSlider.set([null, this.value]);
      });

      // Select default mode
      $("#input-mode").val({{data.mode}});

      {% if saved == 'success' %}
        M.toast({html: 'Configuration saved successfully.', classes: 'rounded'});
      {% elif saved == 'failure' %}
        M.toast({html: 'Configuration could not be saved.', classes: 'rounded'});
      {% endif %}
    </script>
  {% endblock %}
