{% extends "base.html" %}

{% block content %}

<div class="container m-t-20">
  <table class="highlight">
    <thead>
      <tr>
          <th>email</th>
          <th>last login at</th>
          <th>last login IP</th>
          <th>current login at</th>
          <th>current login IP</th>
          <th>login count</th>
          <th>roles</th>
          <th>account active</th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      {% for user in userbase %}
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.last_login_at}}</td>
        <td>{{user.last_login_ip}}</td>
        <td>{{user.current_login_at}}</td>
        <td>{{user.current_login_ip}}</td>
        <td>{{user.login_count}}</td>
        <td>{{user.roles[0]}}</td>
        <td class="center-checkbox">
          <input type="checkbox" checked="{{user.active}}"/>
        </td>
        <td><a href="#!"><i title="delete user" class="material-icons color-main">delete</i></a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn-floating modal-trigger bg-color-main right m-t-10" data-target="modal-add-user"><i title="add new user" class="material-icons right" >add</i></a>
  <div id="modal-add-user" class="modal">
    <div class="modal-content">
      <h4>add new user</h4>
      <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ register_user_form.email(placeholder='Email') }}
        {{ register_user_form.password(placeholder='Password') }}
        {% if register_user_form.password_confirm %}
          {{ register_user_form.password_confirm(placeholder='Confirm Password') }}
        {% endif %}
        {{ register_user_form.submit }}
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
{% endblock %}
