{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends "base.html" %}

{% block title_addition %}
   - firmware v{{ config.firmware_version }}
{% endblock %}

{% block content %}

<div class="container m-t-20">
  <table class="highlight">
    <thead>
      <tr>
          <th>email</th>
          <th>last login at</th>
          <th>last login IP</th>
          <th>current login at</th>
          <th>current login IP</th>
          <th>login count</th>
          <th>roles</th>
          <th>account active</th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      {% for user in userbase %}
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.last_login_at}}</td>
        <td>{{user.last_login_ip}}</td>
        <td>{{user.current_login_at}}</td>
        <td>{{user.current_login_ip}}</td>
        <td>{{user.login_count}}</td>
        <td>{{user.roles[0]}}</td>
        <td class="center-checkbox">
          {% if user.active == 1 %}
          <input type="checkbox" checked disabled/>
          {% elif user.active == 0 %}
          <input type="checkbox" disabled/>
          {% endif %}
        </td>
        <td class="p-b-0">
          <button class="btn-floating bg-color-main modal-trigger right m-b-10" data-target="modal-delete-confirmation" title="delete user" onclick="pickUser('{{user.email}}')">
            <i class="material-icons font-white">delete</i>
          </button>

          <button class="btn-floating bg-color-main right m-r-10" onclick="edit('{{user.email}}', '{{user.active}}', '{{user.roles[0]}}')" title="edit user">
            <i class="material-icons font-white">edit</i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn-floating modal-trigger bg-color-main right m-t-10 m-r-5" onclick="resetModal()" data-target="modal-add-user"><i title="add new user" class="material-icons right" >add</i></a>
  <div id="modal-add-user" class="modal w-30">
    <div class="modal-content m-b-20 p-b-0">
      <h4>add new user</h4>
      <form action="{{ url_for('user') }}" method="POST" name="add" class="m-t-20">
        <div class="input-field">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">Email/Username</label>
        </div>
        <div class="input-field">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
        <div class="fix-checkbox">
          <label>
            <input id="active" type="checkbox" name="active" checked/>
            <span>active</span>
          </label>
          <label>
            <input id="admin" type="checkbox" name="admin"/>
            <span>admin</span>
          </label>
        </div>
        <button class="btn waves-effect waves-light bg-color-main right m-b-20" type="submit" name="action" value="add">
          Add user
        </button>
      </form>
    </div>
  </div>
  <div id="modal-delete-confirmation" class="modal">
    <div class="modal-content">
      <h4>Warning!</h4>
      <p>You are about to permanently delete a user account! Are you sure you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <form action="{{ url_for('user') }}" method="POST" name="delete" class="right">
        <input type="text" name="username" id="hidden-username" value="" class="d-none"/>
        <button class="btn bg-color-red modal-close">
          No, take me out of here.
        </button>
        <button class="btn bg-color-main" type="submit" name="action" value="delete">
          Yes, I am sure.
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
  function edit(username, is_active, is_admin) {
    let elem = $('#modal-add-user')
    let inst = M.Modal.getInstance(elem);
    inst.open()

    $("#username").val(username);
    // is_active === 'True' is required because the python types are interpreted as strings
    $("#active").prop('checked', is_active === 'True');
    $("#admin").prop('checked', is_admin === 'admin');
    M.updateTextFields();
  }
  function resetModal() {
    $("#username").val('');
    $("#active").prop('checked', true);
    $("#admin").prop('checked', false);
    M.updateTextFields();
  }
  function pickUser(user) {
    $("#hidden-username").val(user);
  }
</script>
{% endblock %}
